*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + .5rem);
}

/* main section */
.main__box {
    background-color: lightblue;
    color #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 50%;
    margin-inline: auto;
    margin-top: 10rem;
    border: 3px solid #000;
    border-radius: 10px;
}

.main__text {
    font-size: 4.5rem;
    font-weight: bold;
}
